body {
  background-color: #275bff;
  background-image: url("assets/dinosaur.png");
  background-repeat: repeat;
}

h1 {
  font-size: 4.6rem;
  color: #ffffff;
  margin: 0;
  font-family: "Comic Sans MS", sans-serif;
  text-shadow: 1px 1px 6px #111111;
}

h2 {
  font-size: 2.3rem;
  color: #ffffff;
  margin: 0;
  font-family: "Comic Sans MS", sans-serif;
  text-shadow: 1px 1px 6px #111111;
}

p {
  font-size: 1.6rem;
  font-weight: bold;
  color: #ffffff;
  margin: 1;
  font-family: "Comic Sans MS", sans-serif;
  text-shadow: 1px 1px 6px #111111;
}

h3 {
  font-size: 3rem;
  color: #ffffff;
  margin: 1;
  font-family: "Comic Sans MS", sans-serif;
  text-shadow: 1px 1px 6px #111111;
}
