@font-face {
    font-family: Montserrat-Medium;
    src: url("https://lateeagle64.github.io/fonts/Montserrat-Medium.ttf");
}

.marquee {
  width: 300px;
  overflow: hidden;
  border: 1px solid #ccc;
  background: #ccc;
}

.title {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
