body {
  font-family: 'Roboto', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: #1a1a1a;
  position: relative; /* required for pseudo-element */
  overflow: hidden;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('assets/images/mailBG.png');
  background-repeat: repeat;
  background-size: 128px 128px;
  opacity: 0.05;
  z-index: -1;
  animation: moveBackground 8s linear infinite;
}

@keyframes moveBackground {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 128px 128px;
  }
}

.container {
  text-align: center;
  background: #ffffff;
  padding: 40px;
  border-radius: 8px;
  border: 2px solid rgb(13 13 13 / 25%);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  width: 90%;
}

h1 {
  font-size: 1.8rem;
  margin-bottom: 20px;
  color: #000000;
}

p {
  font-size: 1rem;
  margin: 2px 0;
  color: #000000;
}

errorResend {
  font-size: 1rem;
  margin: 2px 0;
  color: #000000;
}

.spacing {
  margin-top: 15px;
}

.resendButton {
  display: inline-block;
  margin-top: 25px;
  padding: 12px 24px;
  font-size: 1rem;
  font-weight: bold;
  color: #1a1a1a;
  background: #78ff74;
  border: 1px solid #1a1a1a;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.2s, transform 0.2s;
  text-decoration: none;
}

.resendButton:hover {
  background: #6eea6b;
  transform: scale(1.05);
}

.resendButton:active {
  transform: scale(0.96);
}

.inboxButton {
  display: inline-block;
  margin-top: 25px;
  padding: 12px 24px;
  font-size: 1rem;
  font-weight: bold;
  color: #1a1a1a;
  background: #ffb0b0;
  border: 1px solid #1a1a1a;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.2s, transform 0.2s;
  text-decoration: none;
}

.inboxButton:hover {
  background: #e99d9d;
  transform: scale(1.05);
}

.inboxButton:active {
  transform: scale(0.96);
}
