body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #151515;
  font-family: Arial, sans-serif;
}

.roll_btn {
  padding: 35px 80px;
  border: none;
  font-size: 40px;
  color: #ffffff;
  border-radius: 20px;
  font-weight: 700;
  transition: 0.5s;
  transition-property: box-shadow, font-size;
  background: rgb(77, 227, 85);
  box-shadow: 0 0 20px rgb(77, 227, 85);
}

button.roll_btn {
  cursor: pointer;
}

.roll_btn:hover {
  box-shadow: 0 0 20px rgb(77, 227, 85),
              0 0 30px rgb(77, 227, 85);
  font-size: 50px;
}

.fade-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.console-image {
  max-width: 90%;
  max-height: 90%;
  border-radius: 20px;
  box-shadow: 0 0 30px rgba(255, 255, 255, 0.5);
}
