body {
  margin: 0;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.game-container {
  position: relative;
  width: 512px;   /* stage size */
  height: 512px;
  overflow: hidden;
  background: white;
  border: 1px solid black;
}

#player1 {
  position: absolute;
  width: 128px;   /* match one frame size */
  height: 128px;  /* match one frame size */
  background-image: url("sprites/fighting-styles/street/sheet.png");
  background-size: 512px 512px; /* full sprite sheet size */
  image-rendering: pixelated;
  left: 0;
  bottom: 0;
  transform: scaleX(1);
}
